html,
body {
  background-color: #fff200;
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: "Red Hat", sans-serif;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-family: "Red", sans-serif;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
